<!doctype html>
<html lang="en">
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style1.css') }}">
  <title>Register</title>
</head>

<div class="user">

  <header class="user__header">
    <h1 class="user__title">Register</h1>
    </header>

    <form action="{{url_for('login')}}" method="POST" class="form">
      <div class="form__group">
      <input type="text" id="username" name="username" placeholder="Username" class="form__input" required autofocus>
      </div>
      <div class="form__group">
      <input type="password" id="password" name="password" placeholder="Password" class="form__input" required>
      </div>
      <div class="form__group">
      <input type="password" id="repassword" name="repassword" placeholder="Retype password" class="form__input" required>
      </div>
      <button class="btn" style="cursor:pointer;" value="submit">Register</button>

    </form>
      <form action="{{url_for('index')}}" class="form" method="POST">
        <div class="form__group">
      <button value="submit" style="border:none;background:none;cursor:pointer;">Login?</button>
    </div>
      </form>

</div>
</html>
